---
name: Java CI

on:  # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: 11
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B clean install

      - name: Codecov
        uses: codecov/codecov-action@v1.3.1
